# docker compose
COMPOSE_FILE=docker-compose.postgis.yml:docker-compose.fastapi.yml

# postgis
POSTGRES_USER=dev_user
POSTGRES_PASSWORD=dev_password
POSTGRES_DB=pinochet
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
PGRST_AUTHENTICATOR_PASSWORD=dontusemeinprod

# pinochet-rettig-dbt
DBT_PROJECT_DIR=pinochet-rettig-dbt/dbt_pinochet
DBT_PROFILES_DIR=pinochet-rettig-dbt/dbt_pinochet/profiles

# pinochet-rettig-fastapi
API_ENV=dev
SECRET_KEY=dontusemeinprod
# POSTGRES_USER
# POSTGRES_PASSWORD
# POSTGRES_DB
# POSTGRES_HOST
# POSTGRES_PORT
