# ./pinochet-rettig-fastapi/.env
API_ENV=dev
SECRET_KEY=dontusemeinprod

POSTGRES_USER=dev_user
POSTGRES_PASSWORD=dev_password
POSTGRES_DB=pinochet
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
PGRST_AUTHENTICATOR_PASSWORD=dontusemeinprod
